# Ignore Python virtual environments
venv/
ENV/
env/
.venv/

# Ignore real environment variable files (but keep example)
.env
*.env
!.env_example   # Allow this safe example to be committed

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore logs and temp files
*.log
*.tmp
